/* The Login page*/
body {
  background: #bcb7be;
}

h1.pageHead {
  font-size: 36px;
  text-align: center;
}
fieldset {
  text-align: center;
  min-width: 300px;
  width: 350px;
  max-width: 500px;
  border-radius: 5px;
  margin: 50px auto;
}

.label {
  font-weight: bold;
}

.bright {
  width: 310px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.submit {
  width: 100px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}